h1 {
    text-align: center;
}
.box {
    margin: 0 auto;
    height: 600px;
    position: relative;
    width: 450px;
}

.box img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second {
    display: block;
    min-width: 450px;
}

.box-overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}